

body {
font-family: 'Fira Sans', sans-serif;
color: #456777;
}

.nav, 
.nav li {
	list-style: none;
	margin-left: 0;
	padding-left: 0;

}

@media (min-width: 60em) {
	
.nav {
	display: flex;
	justify-content: space-around;
}

}


.nav a {
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;

}

h1{
font-family: 'Ubuntu', sans-serif;
}

body {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  background: #F2F3F4;
}


button {
	color: white;
	background: #00A5F0;
	border-radius: 0.25em;
	border-width: 0;
	padding: 0.5em;
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
	text-transform: uppercase;
	letter-spacing: 1px;
}


footer {
	background: #013045;
	color:#FAFAFA;
	padding: 2em;
}

